<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ThreeThirty_BE.mapper.PostRepository">

  <select id = "findPostType">
    select post_type
    from TB_POST_TYPE
    where post_type_title = #{post_type_title}
  </select>

  <select id = "findCompanyCode">
    select company_code
    from TB_COMPANY_TYPE
    where company_title = #{company_title}
  </select>

  <insert id="savePost" useGeneratedKeys="true" keyProperty="post_id">
    insert into TB_POST(post_type, company_code, post_content, post_writer)
    values (#{post_type}, #{company_code}, #{post_content}, #{post_writer})
  </insert>

  <insert id="saveAttachment" useGeneratedKeys="true" keyProperty="attach_file_id">
    INSERT INTO TB_POST_ATTACH (post_id, attach_file_url, attach_file_type_code)
    VALUES
    <foreach collection="list" item="attachment" separator=",">
      (#{attachment.post_id}, #{attachment.attach_file_url}, #{attachment.attach_file_type_code})
    </foreach>
  </insert>

  <insert id="saveHashing" useGeneratedKeys="true" keyProperty="hashtag_id">
    insert into TB_POST_HASHTAG(post_id, hashtag_content)
    values
    <foreach collection="list" item="postHashing" separator=",">
      (#{postHashing.post_id}, #{postHashing.hashtag_content})
    </foreach>
  </insert>

</mapper>