<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ThreeThirty_BE.mapper.UpdatePostRepository">
  <insert id="saveLog">
    INSERT INTO TB_POST_LOG (post_id, post_writer, post_type, company_code, post_content, create_date, update_date)
    SELECT post_id, post_writer, post_type, company_code, post_content, create_date, #{update_date}
    FROM TB_POST
    WHERE post_id = #{post_id};
  </insert>
  <update id="updateCompanyCode">
    UPDATE TB_POST
    SET company_code = (
    SELECT company_code
    FROM TB_COMPANY_TYPE
    WHERE company_title = #{company_title}
    )
    , update_date = #{update_date}
    WHERE post_id = #{post_id};
  </update>
  <update id="updatePostContent">
    UPDATE TB_POST
    SET post_content = #{post_content}, update_date = #{update_date}
    where post_id = #{post_id}
  </update>

  <select id="findByHashtagId" parameterType="map" resultType="Long">
    SELECT hashtag_id
    FROM TB_POST_HASHTAG
    WHERE post_id = #{post_id}
  </select>

  <delete id="deleteHashTag" parameterType="map">
    DELETE FROM TB_POST_HASHTAG
    WHERE hashtag_id In
    <foreach collection="hashtag_id" item="hashtag" open="(" close=")" separator=",">
      #{hashtag}
    </foreach>
  </delete>

  <insert id="insertHashTag" parameterType="map">
    INSERT INTO TB_POST_HASHTAG (post_id, hashtag_content)
    VALUES
    <foreach collection="hashtag_content" item="hashtag" separator=",">
      (#{post_id}, #{hashtag})
    </foreach>
  </insert>


  <select id="findByAttachId" parameterType="map" resultType="Long">
    SELECT attach_file_id
    FROM TB_POST_ATTACH
    WHERE post_id = #{post_id}
  </select>

  <delete id="deleteAttachFile" parameterType="map">
    DELETE FROM TB_POST_ATTACH
    WHERE attach_file_id In
    <foreach collection="attach_file_id" item="attach" open="(" close=")" separator=",">
      #{attach}
    </foreach>
  </delete>
  <insert id="insertDeleteAttachFile" parameterType="map">
    INSERT INTO TB_POST_ATTACH (post_id, attach_file_url, attach_file_type_code)
    VALUES
    <foreach collection="attach_file" item="attach" separator=",">
      (#{post_id}, #{attach.attach_file_url}, #{attach.attach_file_type})
    </foreach>
  </insert>
</mapper>