<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ThreeThirty_BE.mapper.UserRepository">

<!-- resultType은 SQL 쿼리의 결과를 매핑할 Java 객체의 타입을 지정하는 것인데, resultType으로 매핑이 제대로 이루어지지 않아 resultMap을 사용하여 수동 매핑 -->
  <resultMap id="userResultMap" type="com.example.ThreeThirty_BE.domain.User">
    <id property="user_id" column="user_id" />
    <result property="user_email" column="user_email" />
    <result property="user_name" column="user_name" />
    <result property="pw" column="pw" />
    <result property="phone_number" column="phone_number" />
    <result property="providerType" column="provider_type" />
    <result property="roleType" column="role_type" />
  </resultMap>

  <insert id="saveUser" useGeneratedKeys="true" keyProperty="user_id">
    insert into TB_USER(user_email, user_name, pw, phone_number, signup_date, image_url, notification_status, provider_type, role_type)
    values (#{user_email}, #{user_name}, #{pw}, #{phone_number}, #{signup_date}, #{image_url}, #{notification_status}, #{providerType}, #{roleType})
  </insert>
  <!-- resultType은 SQL 쿼리의 결과를 매핑할 Java 객체의 타입을 지정하는 것인데, resultType으로 매핑이 제대로 이루어지지 않아 resultMap을 사용하여 수동 매핑 -->
  <select id="findByEmail" resultMap="userResultMap"  >
    select *
    from TB_USER
    where user_email = #{user_email}
  </select>

  <select id="findById" resultMap="userResultMap" >
    select user_id, user_email, pw, user_name, provider_type, role_Type
    from TB_USER
    where user_id = #{user_id}
  </select>

  <update id="updateUser">
    update TB_USER
    set user_name = #{user_name}
    where user_id = #{user_id}
  </update>

  <update id="updateUserPassword">
    update TB_USER
    set pw = #{pw}
    where user_id = #{user_id}
  </update>

  <update id="addUserInfo">
    update TB_USER
    set phone_number = #{phone_number}, image_url = #{image_url}
    where user_id = #{user_id}
  </update>

</mapper>